#logo-header{
    width: 8%;
}
#footer{
    position: fixed;
    bottom: 0px;
}
#w3-quarter{
    text-align: center;
}

.imagenLogoInicial{
    width:100%;
    min-height:350px;
    max-height:600px;
}

#ImagenFotoDelCEO{
    width: 150px;
    margin:0 auto;
    height: 250px;
    border-radius: 20px;
}

#ImagenDeMiOficina{
    width:100%;
    border-radius: 20px;
}

.LinkEror404 {
    background-color: grey;
    color: orange;
    padding: 15px 25px;
    text-decoration: none;
  }
  
.OurOffice {
    background-color: orange;
    border-radius: 20px;
}  
.cont-temporizador { /* cuenta regresiva */
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  
  .cont-temporizador .bloque {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px 4px;
  }
  
  .cont-temporizador .bloque div {
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #ffffff inset;
    color: #000000;
    display: flex;
    font-size: 40px;
    font-weight: bold;
    height: 70px;
    justify-content: center;
    margin-bottom: 10px;
    width: 100px;
  }
  
  .cont-temporizador .bloque p {
    color: #000000;
    font-size: 11px;
    font-weight: bold;
  }
  
  .textoHoras {
    color: #000000;
    text-align: center;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
  }