body {background-color: Gray;}
P{color:orange;
    font-family: Arial, Helvetica, sans-serif;
}
#icono-wpp{
    width: 2%; position: fixed;
    bottom: 30px;
    right: 20px;
}
header{
    list-style-type: none;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: orangered;
}
menu{
    list-style-type: none;
}
menu > a > li{
    display: inline;
}
#logo-header{
    width: 8%;
}
footer{
    position: fixed;
    bottom: 0px;
}
.col-8{border: 1px solid black
}
.col-9{border: 1px solid black
}
.btn{
    background-color: coral; border: coral;
}
h3{font-family: Arial, Helvetica, sans-serif;
}