body {background-color: Gray;}
P{color:orange;
}
#icono-wpp{
    width: 2%; position: fixed;
    bottom: 30px;
    right: 20px;
}
header{
    list-style-type: none;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    background-color: orangered;
}
menu{
    list-style-type: none;
}
menu > a > li{
    display: inline;
}
#col-izq{
    width: 50%; float: left;
}
#col-der {
    width: 50%; float: right;
}
#logo-header{
    width: 5%;
}